#cards {
    width: 90%;
    padding: 2% 5%;

    display: grid;
    grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
    gap: 2%;
}

.card {
    width: 98%;
    height: 43vh;

    background-color: #F6D12D;
}

.copa {
    border-top: 10px solid #F6D12D;
    border-left: 10px solid #F6D12D;
    border-right: 10px solid #F6D12D;
    display: flex;
    justify-content: space-between;
}

.informacoes h1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: 'Nunito';
    width: 100%;
    border-bottom: solid 0.5px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}

.informacoes h3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    border-top: 10px solid #F6D12D;
    border-left: 10px solid #F6D12D;
    border-right: 10px solid #F6D12D;
}

.ano{
    width: 25%;
    font-size: 1.5vw;
    
}

.ano p{
    width: 100%;
    text-align: center;
    margin: 0;
}

.img{
    width: 130px;
    height: 150px;

    background-image: url("https://th.bing.com/th/id/R.66d8ca3607eddeb4f733071f6f7dc13a?rik=HX5eCl%2fa29JTCw&pid=ImgRaw&r=0");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}