#cards {
    width: 90%;
    padding: 2% 5%;

    display: grid;
    grid-template-columns: 18.4% 18.4% 18.4% 18.4% 18.4%;
    gap: 2%;
}

.card {
    width: 98%;
    height: 43vh;

    background-color: rgb(221, 210, 0);
}

.copa img {
    width: 50%;
    height: 20%;
}

.copa {
    border-top: 10px solid rgb(221, 210, 0);
    border-left: 10px solid rgb(221, 210, 0);
    border-right: 10px solid rgb(221, 210, 0);
    display: flex;
    justify-content: space-between;
}

.artilheiro {
    width: 43%;
    height: 20%;
}

.logo {
    width: 50%;
    height: 30%;
}

.informacoes h1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: 'Nunito';
    width: 100%;
    border-bottom: solid 0.5px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}

.informacoes h3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    border-top: 10px solid rgb(221, 210, 0);
    border-left: 10px solid rgb(221, 210, 0);
    border-right: 10px solid rgb(221, 210, 0);
}

.ano{
    width: 20%;
    font-size: 1.5vw;
}

.ano p{
    margin: 0;
}